@import "../theme.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.text-field {
  font-family: "Open Sans";
  color: #292b37;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.text-field__input {
  border-radius: 4px;
  padding: 1;
  color: $regular-text;
  font-family: "Open Sans";


  &:focus {
    outline: 2px solid $focus-stroke;
    outline-offset:-0.1rem;
  }
}

.text-field__label {
  color: #292b37;
  font-family: "Open Sans";
}

.text-field__error {
  color: $burgundy-400;
  padding: 0px, 8px;
  font-family: "Open Sans";
}
