.dropdown{


    .button-dropdown{
        border: 1px solid #989AA4;
        padding: 9px 10px;
        width: auto;
        height: auto;
    }

    .dropdown-caret-icon{
        width: 12px;
        height: 14px;
    }
}